{% extends "base.html" %}

{% block content %}
<div class="container py-5">

  <!-- Ticket card -->
  <div class="ticket card shadow-lg">
    <div class="card-body">
      <h2 class="card-title text-success mb-4 text-center">Your Ticket</h2>
      <h5 class="card-subtitle mb-2 text-muted text-center">
        {{ event[1] }} | {{ event[5] }}
      </h5>
      <br>
      <div class="row">
        <p class="ticket-text text-center"> {{ event[2] }}
        <strong>at</strong> {{ event[3] }}</p>
        </div>
      <hr style="border-color: #00FF00">>
      <div class="text-center">
        <h4 class="text-success"><strong>Price Paid:</strong> £{{ event[7] }}</h4>
        <p class="ticket-text text-center">
        <strong>Payee Name:</strong> {{ firstname }}
        <strong>Email:</strong> {{ email }}</p>
      </div>
      <hr style="border-color: #00FF00">
      <p class="text-muted text-center mt-4">Keep this ticket safe. It serves as proof of purchase.</p>
    </div>
  </div>

</div>
{% endblock %}